![panda](figures/panda.png)

 > **Pandas** is an open source Python library for data analysis.
- It gives Python the ability to work with numerical tables and time series for fast data loading, manipulating, aligning, merging, etc.
- The name is derived from 'panel data', an econometrics term for multidimensional structured datasets.

In [1]:
import pandas as pd
import numpy as np

# Series and DataFrame

Pandas introduces two new data types to Python: **Series** and **DataFrame**

## Series

> A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its **index**

In [3]:
s = pd.Series([4, 7, -5, 3])
s

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
s_test = pd.Series([4, 7, -5, 3, 'string'])
2 * s_test

0               8
1              14
2             -10
3               6
4    stringstring
dtype: object

- The string representation of a Series displayed interactively shows the index on the
left and the values on the right.
- Since we did not specify an index for the data, a
default one consisting of the integers 0 through n-1 (where n is the length of the data)

In [7]:
s = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])
s

a    4
b    7
c   -5
d    3
dtype: int64

In [8]:
s.values

array([ 4,  7, -5,  3])

In [9]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

### Selecting single or a set of values using index

In [10]:
s['b']

7

In [12]:
s[['b']]

b    7
dtype: int64

In [11]:
s[['c', 'a', 'b']]

c   -5
a    4
b    7
dtype: int64

In [10]:
s

a    4
b    7
c   -5
d    3
dtype: int64

In [11]:
s[2]

/tmp/ipykernel_20941/2635755408.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2]

-5

In [12]:
s.iloc[2]

-5

In [13]:
s[1:3]

b    7
c   -5
dtype: int64

In [14]:
s.iloc[[1,3]]

b    7
d    3
dtype: int64

### Filtering

In [15]:
s

a    4
b    7
c   -5
d    3
dtype: int64

In [16]:
s > 0

a     True
b     True
c    False
d     True
dtype: bool

In [17]:
s[s > 0]

a    4
b    7
d    3
dtype: int64

### Math operation

In [18]:
s**2

a    16
b    49
c    25
d     9
dtype: int64

In [19]:
np.exp(s)

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [20]:
s.mean()

2.25

In [21]:
s.var()

26.25

aligns by index label in arithmetic operations

In [22]:
s

a    4
b    7
c   -5
d    3
dtype: int64

In [23]:
s2 = pd.Series([1, 2, 3, 4], index = ['a', 'c', 'd', 'e'])
s2

a    1
c    2
d    3
e    4
dtype: int64

In [24]:
s + s2

a    5.0
b    NaN
c   -3.0
d    6.0
e    NaN
dtype: float64

**Note**: "NaN" stands for missing values in pandas

In [25]:
s.index = ['a', 'c', 'd', 'e']
s

a    4
c    7
d   -5
e    3
dtype: int64

In [26]:
s + s2

a    5
c    9
d   -2
e    7
dtype: int64

## More method for series

In [27]:
 dir(s)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'a',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'c',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'd',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'e',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [28]:
[attr for attr in dir(s) if not attr.startswith('_')]

['T',
 'a',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'c',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'd',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'e',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [29]:
help(s.all)

Help on method all in module pandas.core.series:

all(axis: 'Axis' = 0, bool_only: 'bool' = False, skipna: 'bool' = True, **kwargs) -> 'bool' method of pandas.core.series.Series instance
    Return whether all elements are True, potentially over an axis.

    Returns True unless there at least one element within a series or
    along a Dataframe axis that is False or equivalent (e.g. zero or
    empty).

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns', None}, default 0
        Indicate which axis or axes should be reduced. For `Series` this parameter
        is unused and defaults to 0.

        * 0 / 'index' : reduce the index, return a Series whose index is the
          original column labels.
        * 1 / 'columns' : reduce the columns, return a Series whose index is the
          original index.
        * None : reduce all axes, return a scalar.

    bool_only : bool, default False
        Include only boolean columns. Not implemented for Series.
    skipna : bool, default True
        Exclude NA/null values. If the entire row/column is NA and skipna is
        True, then the result will be True, as for an empty row/column.
        If skipna is False, then NA are treated as True, because these are not
        equal to zero.
    **kwargs : any, default None
        Additional keywords have no effect but might be accepted for
        compatibility with NumPy.

    Returns
    -------
    scalar or Series
        If level is specified, then, Series is returned; otherwise, scalar
        is returned.

    See Also
    --------
    Series.all : Return True if all elements are True.
    DataFrame.any : Return True if one (or more) elements are True.

    Examples
    --------
    **Series**

    >>> pd.Series([True, True]).all()
    True
    >>> pd.Series([True, False]).all()
    False
    >>> pd.Series([], dtype="float64").all()
    True
    >>> pd.Series([np.nan]).all()
    True
    >>> pd.Series([np.nan]).all(skipna=False)
    True

    **DataFrames**

    Create a dataframe from a dictionary.

    >>> df = pd.DataFrame({'col1': [True, True], 'col2': [True, False]})
    >>> df
       col1   col2
    0  True   True
    1  True  False

    Default behaviour checks if values in each column all return True.

    >>> df.all()
    col1     True
    col2    False
    dtype: bool

    Specify ``axis='columns'`` to check if values in each row all return True.

    >>> df.all(axis='columns')
    0     True
    1    False
    dtype: bool

    Or ``axis=None`` for whether every value is True.

    >>> df.all(axis=None)
    False

In [30]:
all(s > 0)

False

## DataFrame

> A DataFrame represents a rectangular table of data and contains an ordered collection
of columns.

* The DataFrame has both a row and column index.
* Since each column of a DataFrame is essentially a Series with its column index, it can be thought of as a dictionary of Series all sharing the same index.
<!-- * Each column (Series) has to be the same type, whereas, each row can contain mixed types. -->

### Creating DataFrame

#### from a dict of equal-length lists

In [31]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [32]:
d = pd.DataFrame(data)
d

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

#### Start with an empty DataFrame

In [33]:
d1 = pd.DataFrame()
d1

Empty DataFrame
Columns: []
Index: []

In [34]:
d1['state'] = ['Ohio', 'Nevada']
d1

    state
0    Ohio
1  Nevada

In [38]:
d1['year'] = [2001, 2001]
d1['pop'] = [1.7, 2.4]
d1

    state  year  pop
0    Ohio  2001  1.7
1  Nevada  2001  2.4

### select columns

In [39]:
d

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [40]:
d['state'] # return a Series

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [41]:
d[['state']] # return a Series

    state
0    Ohio
1    Ohio
2    Ohio
3  Nevada
4  Nevada
5  Nevada

In [42]:
type(d['state'])

pandas.core.series.Series

In [43]:
type(d[['state']])

pandas.core.frame.DataFrame

In [44]:
d[['state','pop']]

    state  pop
0    Ohio  1.5
1    Ohio  1.7
2    Ohio  3.6
3  Nevada  2.4
4  Nevada  2.9
5  Nevada  3.2

### select rows

In [45]:
rows = np.arange(16).reshape((4, 4))
rows

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [46]:
d2 = pd.DataFrame(rows,
                  index=['Ohio', 'Colorado', 'Utah', 'New York'],
                  columns=['one', 'two', 'three', 'four'])
d2

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [47]:
d2.loc['Ohio':"Utah"]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11

In [48]:
d2.iloc[1:3]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11

### change row index and column name

In [49]:
d2

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [50]:
d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'})

             five  two  three  four
Ohio            0    1      2     3
Connecticut     4    5      6     7
Utah            8    9     10    11
New York       12   13     14    15

In [51]:
d2 # notice d2 is still the same

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
d3 = d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'}) # assign to a new variable
d3

In [52]:
# set the inplace=True will change original DataFrame.
d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'}, inplace=True)

In [53]:
d2

             five  two  three  four
Ohio            0    1      2     3
Connecticut     4    5      6     7
Utah            8    9     10    11
New York       12   13     14    15

### basics attributes and methods

In [54]:
d2.index

Index(['Ohio', 'Connecticut', 'Utah', 'New York'], dtype='object')

In [55]:
d2.columns

Index(['five', 'two', 'three', 'four'], dtype='object')

In [56]:
d2.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [57]:
d2.shape

(4, 4)

In [58]:
d2.mean() # column-wise mean, More on aggregation later.

five     6.0
two      7.0
three    8.0
four     9.0
dtype: float64

### Alignment by index

In [59]:
df3 = pd.DataFrame({'A':[1,2,3]},index=[1,2,3])
df3

   A
1  1
2  2
3  3

In [60]:
df4 = pd.DataFrame({'A':[1,2,3]},index=[3,1,2])
df4

   A
3  1
1  2
2  3

In [61]:

df3-df4

   A
1 -1
2 -1
3  2

### add and delete rows and columns

In [62]:
d2

             five  two  three  four
Ohio            0    1      2     3
Connecticut     4    5      6     7
Utah            8    9     10    11
New York       12   13     14    15

In [63]:
d2.drop(index = "Connecticut", columns="five")
# add "inplace=True" will change the original DataFrame

          two  three  four
Ohio        1      2     3
Utah        9     10    11
New York   13     14    15

In [64]:
d2

             five  two  three  four
Ohio            0    1      2     3
Connecticut     4    5      6     7
Utah            8    9     10    11
New York       12   13     14    15

In [65]:
del d2['five'] # this will change d2 directly
d2

             two  three  four
Ohio           1      2     3
Connecticut    5      6     7
Utah           9     10    11
New York      13     14    15

In [66]:
d2['one'] = [1, 2, 3, 4] # add new column
d2

             two  three  four  one
Ohio           1      2     3    1
Connecticut    5      6     7    2
Utah           9     10    11    3
New York      13     14    15    4

In [67]:
d2.pop('one') # directly change the original DataFrame

Ohio           1
Connecticut    2
Utah           3
New York       4
Name: one, dtype: int64

In [68]:
d2

             two  three  four
Ohio           1      2     3
Connecticut    5      6     7
Utah           9     10    11
New York      13     14    15

### Common method

You can import dataset as well

#### csv file

In [75]:
df = pd.read_csv("./data/table.csv")

In [76]:
df

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
1     S_1   C_1  1102      F  street_2     192      73  32.5      B+
2     S_1   C_1  1103      M  street_2     186      82  87.2      B+
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-
4     S_1   C_1  1105      F  street_4     159      64  84.8      B+
5     S_1   C_2  1201      M  street_5     188      68  97.0      A-
6     S_1   C_2  1202      F  street_4     176      94  63.5      B-
7     S_1   C_2  1203      M  street_6     160      53  58.8      A+
8     S_1   C_2  1204      F  street_5     162      63  33.8       B
9     S_1   C_2  1205      F  street_6     167      63  68.4      B-
10    S_1   C_3  1301      M  street_4     161      68  31.5      B+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
12    S_1   C_3  1303      M  street_7     188      82  49.7       B
13    S_1   C_3  1304      M  street_2     195      70  85.2       A
14    S_1   C_3  1305      F  street_5     187      69  61.7      B-
15    S_2   C_1  2101      M  street_7     174      84  83.3       C
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
17    S_2   C_1  2103      M  street_4     157      61  52.5      B-
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
20    S_2   C_2  2201      M  street_5     193     100  39.1       B
21    S_2   C_2  2202      F  street_7     194      77  68.5      B+
22    S_2   C_2  2203      M  street_4     155      91  73.8      A+
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
24    S_2   C_2  2205      F  street_7     183      76  85.4       B
25    S_2   C_3  2301      F  street_4     157      78  72.3      B+
26    S_2   C_3  2302      M  street_5     171      88  32.7       A
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
34    S_2   C_4  2405      F  street_6     193      54  47.6       B

#### txt file

In [77]:
df_txt = pd.read_table("data/table.txt")
df_txt

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

In [78]:
help(pd.read_table)

Help on function read_table in module pandas.io.parsers.readers:

read_table(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Sequence[str] | Mapping[str, Sequence[str]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable]' = False, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: 'str | None' = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read general delimited file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default '\\t' (tab-stop)
        Character or regex pattern to treat as the delimiter. If ``sep=None``, the
        C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator from only the first valid
        row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
        In addition, separators longer than 1 character and different from
        ``'\s+'`` will be interpreted as regular expressions and will also force
        the use of the Python parsing engine. Note that regex delimiters are prone
        to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, optional
        Alias for ``sep``.
    header : int, Sequence of int, 'infer' or None, default 'infer'
        Row number(s) containing column labels and marking the start of the
        data (zero-indexed). Default behavior is to infer the column names: if no ``names``
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly to ``names`` then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a :class:`~pandas.MultiIndex` on the columns
        e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : Sequence of Hashable, optional
        Sequence of column labels to apply. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : Hashable, Sequence of Hashable or False, optional
      Column(s) to use as row label(s), denoted either by column labels or column
      indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
      will be formed for the row labels.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g., when you have a malformed file with delimiters at
      the end of each line.
    usecols : Sequence of Hashable or Callable, optional
        Subset of columns to select, denoted either by column labels or column indices.
        If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in ``names`` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
        preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
        for columns in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to ``True``. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : dtype or dict of {Hashable : dtype}, optional
        Data type(s) to apply to either the whole dataset or individual columns.
        E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
        Use ``str`` or ``object`` together with suitable ``na_values`` settings
        to preserve and not interpret ``dtype``.
        If ``converters`` are specified, they will be applied INSTEAD
        of ``dtype`` conversion.

        .. versionadded:: 1.5.0

            Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
            the default determines the ``dtype`` of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The 'pyarrow' engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict of {Hashable : Callable}, optional
        Functions for converting values in specified columns. Keys can either
        be column labels or column indices.
    true_values : list, optional
        Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
    false_values : list, optional
        Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : int, list of int or Callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (``int``)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
        Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
        per-column ``NA`` values.  By default the following values are interpreted as
        ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
        "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
        "n/a", "nan", "null ".

    keep_default_na : bool, default True
        Whether or not to include the default ``NaN`` values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
          is appended to the default ``NaN`` values used for parsing.
        * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
          the default ``NaN`` values are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
          the ``NaN`` values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
          strings will be parsed as ``NaN``.

        Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of ``na_values``). In
        data without any ``NA`` values, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of ``NA`` values placed in non-numeric columns.

        .. deprecated:: 2.2.0
    skip_blank_lines : bool, default True
        If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
    parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
        The behavior is as follows:

        * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
          ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
        * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
          as a single date column. Values are joined with a space before parsing.
        * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
          result 'foo'. Values are joined with a space before parsing.

        If a column or index cannot be represented as an array of ``datetime``,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an ``object`` data type. For
        non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
        :func:`~pandas.read_csv`.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
        format of the ``datetime`` strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If ``True`` and ``parse_dates`` specifies combining multiple columns then
        keep the original columns.
    date_parser : Callable, optional
        Function to use for converting a sequence of string columns to an array of
        ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. pandas will try to call ``date_parser`` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by ``parse_dates`` into a single array
        and pass that; and 3) call ``date_parser`` once for each row using one or
        more strings (corresponding to the columns defined by ``parse_dates``) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`~pandas.to_datetime` as-needed.
    date_format : str or dict of column -> format, optional
        Format to use for parsing dates when used in conjunction with ``parse_dates``.
        The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
        `strftime documentation
        <https://docs.python.org/3/library/datetime.html
        #strftime-and-strptime-behavior>`_ for more information on choices, though
        note that :const:`"%f"` will parse all the way up to nanoseconds.
        You can also pass:

        - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
            time string (not necessarily in exactly the same format);
        - "mixed", to infer the format for each element individually. This is risky,
            and you should probably use it along with `dayfirst`.

        .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If ``True``, use a cache of unique, converted dates to apply the ``datetime``
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return ``TextFileReader`` object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Number of lines to read from the file per chunk. Passing a value will cause the
        function to return a ``TextFileReader`` object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str (length 1), optional
        Character acting as the thousands separator in numerical values.
    decimal : str (length 1), default '.'
        Character to recognize as decimal point (e.g., use ',' for European data).
    lineterminator : str (length 1), optional
        Character used to denote a line break. Only valid with C parser.
    quotechar : str (length 1), optional
        Character used to denote the start and end of a quoted item. Quoted
        items can include the ``delimiter`` and it will be ignored.
    quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
        ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
        characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
        or ``lineterminator``.
    doublequote : bool, default True
       When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        Character used to escape other characters.
    comment : str (length 1), optional
        Character indicating that the remainder of line should not be parsed.
        If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter ``header`` but not by
        ``skiprows``. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
        treated as the header.
    encoding : str, optional, default 'utf-8'
        Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    encoding_errors : str, optional, default 'strict'
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
        ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
        override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

        - ``'error'``, raise an Exception when a bad line is encountered.
        - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
        - ``'skip'``, skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - Callable, function with signature

#### xlsx file

In [79]:
conda install openpyxl

Retrieving notices: ...working... done
Channels:
 - defaults
 - conda-forge
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/ossifragus/miniconda3/envs/stat2255

  added / updated specs:
    - openpyxl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2024.9.24  |       h06a4308_0         130 KB
    certifi-2024.8.30          |  py312h06a4308_0         163 KB
    et_xmlfile-1.1.0           |  py312h06a4308_1          12 KB
    openpyxl-3.1.5             |  py312h5eee18b_0         719 KB
    ------------------------------------------------------------
                                           Total:        1024 KB

The following NEW packages will be INSTALLED:

  et_xmlfile         pkgs/main/linux-64::et_xmlfile-1.1.0-py312h06a4308_1
  openpyxl           pkgs/main/linux-64::openpyxl-3.1.5-py312h5eee18b_0

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2024.8.3~ --> pkgs/main::ca-certificates-2024.9.24-h06a4308_0
  certifi            conda-forge/noarch::certifi-2024.7.4-~ --> pkgs/main/linux-64::certifi-2024.8.30-py312h06a4308_0



Downloading and Extracting Packages:
openpyxl-3.1.5       | 719 KB    |                                       |   0%
certifi-2024.8.30    | 163 KB    |                                       |   0%

ca-certificates-2024 | 130 KB    |                                       |   0%


openpyxl-3.1.5       | 719 KB    | #####7                                |  16%

ca-certificates-2024 | 130 KB    | ###########################3          |  74%


et_xmlfile-1.1.0     | 12 KB     | ##################################### | 100%

ca-certificates-2024 | 130 KB    | ##################################### | 100%
certifi-2024.8.30    | 163 KB    | ###6                                  |  10%


openpyxl-3.1.5       | 719 KB    | ##################################### | 100%
certifi-2024.8.30    | 163 KB    | #####################7                |  59%







Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [80]:
df_excel = pd.read_excel('data/table.xlsx', sheet_name="Sheet1")
df_excel

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
1     S_1   C_1  1102      F  street_2     192      73  32.5      B+
2     S_1   C_1  1103      M  street_2     186      82  87.2      B+
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-
4     S_1   C_1  1105      F  street_4     159      64  84.8      B+
5     S_1   C_2  1201      M  street_5     188      68  97.0      A-
6     S_1   C_2  1202      F  street_4     176      94  63.5      B-
7     S_1   C_2  1203      M  street_6     160      53  58.8      A+
8     S_1   C_2  1204      F  street_5     162      63  33.8       B
9     S_1   C_2  1205      F  street_6     167      63  68.4      B-
10    S_1   C_3  1301      M  street_4     161      68  31.5      B+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
12    S_1   C_3  1303      M  street_7     188      82  49.7       B
13    S_1   C_3  1304      M  street_2     195      70  85.2       A
14    S_1   C_3  1305      F  street_5     187      69  61.7      B-
15    S_2   C_1  2101      M  street_7     174      84  83.3       C
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
17    S_2   C_1  2103      M  street_4     157      61  52.5      B-
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
20    S_2   C_2  2201      M  street_5     193     100  39.1       B
21    S_2   C_2  2202      F  street_7     194      77  68.5      B+
22    S_2   C_2  2203      M  street_4     155      91  73.8      A+
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
24    S_2   C_2  2205      F  street_7     183      76  85.4       B
25    S_2   C_3  2301      F  street_4     157      78  72.3      B+
26    S_2   C_3  2302      M  street_5     171      88  32.7       A
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
34    S_2   C_4  2405      F  street_6     193      54  47.6       B

#### Head and Tail

These two methods show the first and the last a few records from a DataFrame, default is 5

In [81]:
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

In [82]:
df.iloc[:6]

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+
5    S_1   C_2  1201      M  street_5     188      68  97.0      A-

In [83]:
df.tail()

   School Class    ID Gender   Address  Height  Weight  Math Physics
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
34    S_2   C_4  2405      F  street_6     193      54  47.6       B

In [84]:
df.head(3)

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+

### unique and nunique

In [85]:
df['Physics']

0     A+
1     B+
2     B+
3     B-
4     B+
5     A-
6     B-
7     A+
8      B
9     B-
10    B+
11    A-
12     B
13     A
14    B-
15     C
16    B+
17    B-
18    B+
19     A
20     B
21    B+
22    A+
23    B-
24     B
25    B+
26     A
27     C
28    A-
29     B
30     A
31     B
32    B+
33     B
34     B
Name: Physics, dtype: object

In [86]:
df['Physics'].unique() # Shows only unique values

array(['A+', 'B+', 'B-', 'A-', 'B', 'A', 'C'], dtype=object)

In [87]:
df['Physics'].nunique() # len(df['Physics'].unique())

7

### count and value_counts

In [88]:
df['School']

0     S_1
1     S_1
2     S_1
3     S_1
4     S_1
5     S_1
6     S_1
7     S_1
8     S_1
9     S_1
10    S_1
11    S_1
12    S_1
13    S_1
14    S_1
15    S_2
16    S_2
17    S_2
18    S_2
19    S_2
20    S_2
21    S_2
22    S_2
23    S_2
24    S_2
25    S_2
26    S_2
27    S_2
28    S_2
29    S_2
30    S_2
31    S_2
32    S_2
33    S_2
34    S_2
Name: School, dtype: object

In [89]:
df['School'].count() # Count of non missing values

35

In [90]:
df['School'].value_counts()

School
S_2    20
S_1    15
Name: count, dtype: int64

In [91]:
df['Physics'].value_counts()

Physics
B+    9
B     8
B-    6
A     4
A+    3
A-    3
C     2
Name: count, dtype: int64

### describe and and info

In [92]:
df.info() # How many missing for each column and type of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   School   35 non-null     object
 1   Class    35 non-null     object
 2   ID       35 non-null     int64
 3   Gender   35 non-null     object
 4   Address  35 non-null     object
 5   Height   35 non-null     int64
 6   Weight   35 non-null     int64
 7   Math     35 non-null     float64
 8   Physics  35 non-null     object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.6+ KB

In [93]:
df.describe() # summary statistics for numeric type columns

               ID      Height      Weight       Math
count    35.00000   35.000000   35.000000  35.000000
mean   1803.00000  174.142857   74.657143  61.351429
std     536.87741   13.541098   12.895377  19.915164
min    1101.00000  155.000000   53.000000  31.500000
25%    1204.50000  161.000000   63.000000  47.400000
50%    2103.00000  173.000000   74.000000  61.700000
75%    2301.50000  187.500000   82.000000  77.100000
max    2405.00000  195.000000  100.000000  97.000000

In [94]:
df.describe(percentiles=[x/10 for x in list(range(1, 10, 1))])

               ID      Height      Weight       Math
count    35.00000   35.000000   35.000000  35.000000
mean   1803.00000  174.142857   74.657143  61.351429
std     536.87741   13.541098   12.895377  19.915164
min    1101.00000  155.000000   53.000000  31.500000
10%    1104.40000  158.400000   60.400000  33.880000
20%    1202.80000  160.000000   62.800000  44.060000
30%    1301.20000  162.400000   64.800000  48.740000
40%    1304.60000  167.000000   69.600000  51.740000
50%    2103.00000  173.000000   74.000000  61.700000
60%    2201.40000  175.400000   79.200000  67.980000
70%    2204.80000  186.800000   81.800000  72.280000
80%    2303.20000  188.400000   84.000000  83.600000
90%    2401.60000  192.600000   92.800000  86.480000
max    2405.00000  195.000000  100.000000  97.000000

In [107]:
df['Physics'].describe()

count     35
unique     7
top       B+
freq       9
Name: Physics, dtype: object

### idxmax and nlargest

In [108]:
df['Math']

0     34.0
1     32.5
2     87.2
3     80.4
4     84.8
5     97.0
6     63.5
7     58.8
8     33.8
9     68.4
10    31.5
11    87.7
12    49.7
13    85.2
14    61.7
15    83.3
16    50.6
17    52.5
18    72.2
19    34.2
20    39.1
21    68.5
22    73.8
23    47.2
24    85.4
25    72.3
26    32.7
27    65.9
28    95.5
29    48.9
30    45.3
31    48.7
32    59.7
33    67.7
34    47.6
Name: Math, dtype: float64

In [109]:
df['Math'].max() # return the largest value

97.0

In [110]:
df['Math'].idxmax() # return the index of the largest value

5

In [111]:
df['Math'].idxmin() # return the index of the smallest value

10

In [112]:
df['Math'].nlargest(3) # return the largest 3 values with their index (default is 5).

5     97.0
28    95.5
11    87.7
Name: Math, dtype: float64

In [113]:
df['Math'].nlargest()

5     97.0
28    95.5
11    87.7
2     87.2
24    85.4
Name: Math, dtype: float64

In [114]:
df['Math'].nsmallest(3) # return the smallest 3 values with their index (default is 5).

10    31.5
1     32.5
26    32.7
Name: Math, dtype: float64

### apply

In [115]:
df[["Height", "Weight"]]

    Height  Weight
0      173      63
1      192      73
2      186      82
3      167      81
4      159      64
5      188      68
6      176      94
7      160      53
8      162      63
9      167      63
10     161      68
11     175      57
12     188      82
13     195      70
14     187      69
15     174      84
16     161      61
17     157      61
18     159      97
19     170      81
20     193     100
21     194      77
22     155      91
23     175      74
24     183      76
25     157      78
26     171      88
27     190      99
28     164      81
29     187      73
30     192      62
31     166      82
32     158      60
33     160      84
34     193      54

In [116]:
df[["Height", "Weight"]].apply(lambda x: x.max() + x.min())

Height    350
Weight    153
dtype: int64

In [117]:
df[["Height", "Weight"]].apply(lambda x: x.mean())

Height    174.142857
Weight     74.657143
dtype: float64

In [118]:
df[["Height", "Weight"]].mean()

Height    174.142857
Weight     74.657143
dtype: float64

In [ ]:
df.apply(lambda x:x.count()) # 0 is column-wise and 1 is row-wise

School     35
Class      35
ID         35
Gender     35
Address    35
Height     35
Weight     35
Math       35
Physics    35
dtype: int64

In [119]:
df.apply(lambda x:x.count(), axis=0) # 0 is column-wise and 1 is row-wise

School     35
Class      35
ID         35
Gender     35
Address    35
Height     35
Weight     35
Math       35
Physics    35
dtype: int64

In [121]:
df.apply(lambda x:x.count(), axis=1) # 0 is column-wise and 1 is row-wise

0     9
1     9
2     9
3     9
4     9
5     9
6     9
7     9
8     9
9     9
10    9
11    9
12    9
13    9
14    9
15    9
16    9
17    9
18    9
19    9
20    9
21    9
22    9
23    9
24    9
25    9
26    9
27    9
28    9
29    9
30    9
31    9
32    9
33    9
34    9
dtype: int64

### sort

In [122]:
df

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
1     S_1   C_1  1102      F  street_2     192      73  32.5      B+
2     S_1   C_1  1103      M  street_2     186      82  87.2      B+
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-
4     S_1   C_1  1105      F  street_4     159      64  84.8      B+
5     S_1   C_2  1201      M  street_5     188      68  97.0      A-
6     S_1   C_2  1202      F  street_4     176      94  63.5      B-
7     S_1   C_2  1203      M  street_6     160      53  58.8      A+
8     S_1   C_2  1204      F  street_5     162      63  33.8       B
9     S_1   C_2  1205      F  street_6     167      63  68.4      B-
10    S_1   C_3  1301      M  street_4     161      68  31.5      B+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
12    S_1   C_3  1303      M  street_7     188      82  49.7       B
13    S_1   C_3  1304      M  street_2     195      70  85.2       A
14    S_1   C_3  1305      F  street_5     187      69  61.7      B-
15    S_2   C_1  2101      M  street_7     174      84  83.3       C
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
17    S_2   C_1  2103      M  street_4     157      61  52.5      B-
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
20    S_2   C_2  2201      M  street_5     193     100  39.1       B
21    S_2   C_2  2202      F  street_7     194      77  68.5      B+
22    S_2   C_2  2203      M  street_4     155      91  73.8      A+
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
24    S_2   C_2  2205      F  street_7     183      76  85.4       B
25    S_2   C_3  2301      F  street_4     157      78  72.3      B+
26    S_2   C_3  2302      M  street_5     171      88  32.7       A
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
34    S_2   C_4  2405      F  street_6     193      54  47.6       B

In [123]:
df.sort_values(by='Class')

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
15    S_2   C_1  2101      M  street_7     174      84  83.3       C
17    S_2   C_1  2103      M  street_4     157      61  52.5      B-
1     S_1   C_1  1102      F  street_2     192      73  32.5      B+
2     S_1   C_1  1103      M  street_2     186      82  87.2      B+
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-
4     S_1   C_1  1105      F  street_4     159      64  84.8      B+
6     S_1   C_2  1202      F  street_4     176      94  63.5      B-
24    S_2   C_2  2205      F  street_7     183      76  85.4       B
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
22    S_2   C_2  2203      M  street_4     155      91  73.8      A+
21    S_2   C_2  2202      F  street_7     194      77  68.5      B+
5     S_1   C_2  1201      M  street_5     188      68  97.0      A-
20    S_2   C_2  2201      M  street_5     193     100  39.1       B
9     S_1   C_2  1205      F  street_6     167      63  68.4      B-
8     S_1   C_2  1204      F  street_5     162      63  33.8       B
7     S_1   C_2  1203      M  street_6     160      53  58.8      A+
25    S_2   C_3  2301      F  street_4     157      78  72.3      B+
13    S_1   C_3  1304      M  street_2     195      70  85.2       A
12    S_1   C_3  1303      M  street_7     188      82  49.7       B
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
10    S_1   C_3  1301      M  street_4     161      68  31.5      B+
14    S_1   C_3  1305      F  street_5     187      69  61.7      B-
26    S_2   C_3  2302      M  street_5     171      88  32.7       A
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
34    S_2   C_4  2405      F  street_6     193      54  47.6       B

In [124]:
df.sort_values(by=['Address','Height'], ascending=True)

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-
2     S_1   C_1  1103      M  street_2     186      82  87.2      B+
1     S_1   C_1  1102      F  street_2     192      73  32.5      B+
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
13    S_1   C_3  1304      M  street_2     195      70  85.2       A
22    S_2   C_2  2203      M  street_4     155      91  73.8      A+
17    S_2   C_1  2103      M  street_4     157      61  52.5      B-
25    S_2   C_3  2301      F  street_4     157      78  72.3      B+
4     S_1   C_1  1105      F  street_4     159      64  84.8      B+
10    S_1   C_3  1301      M  street_4     161      68  31.5      B+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
6     S_1   C_2  1202      F  street_4     176      94  63.5      B-
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
8     S_1   C_2  1204      F  street_5     162      63  33.8       B
26    S_2   C_3  2302      M  street_5     171      88  32.7       A
14    S_1   C_3  1305      F  street_5     187      69  61.7      B-
5     S_1   C_2  1201      M  street_5     188      68  97.0      A-
20    S_2   C_2  2201      M  street_5     193     100  39.1       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
7     S_1   C_2  1203      M  street_6     160      53  58.8      A+
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
9     S_1   C_2  1205      F  street_6     167      63  68.4      B-
34    S_2   C_4  2405      F  street_6     193      54  47.6       B
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
15    S_2   C_1  2101      M  street_7     174      84  83.3       C
24    S_2   C_2  2205      F  street_7     183      76  85.4       B
12    S_1   C_3  1303      M  street_7     188      82  49.7       B
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
21    S_2   C_2  2202      F  street_7     194      77  68.5      B+

In [125]:
df.sort_values(by=['Address','Height'], ascending=[False, True])

   School Class    ID Gender   Address  Height  Weight  Math Physics
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
15    S_2   C_1  2101      M  street_7     174      84  83.3       C
24    S_2   C_2  2205      F  street_7     183      76  85.4       B
12    S_1   C_3  1303      M  street_7     188      82  49.7       B
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
21    S_2   C_2  2202      F  street_7     194      77  68.5      B+
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
7     S_1   C_2  1203      M  street_6     160      53  58.8      A+
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
9     S_1   C_2  1205      F  street_6     167      63  68.4      B-
34    S_2   C_4  2405      F  street_6     193      54  47.6       B
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
8     S_1   C_2  1204      F  street_5     162      63  33.8       B
26    S_2   C_3  2302      M  street_5     171      88  32.7       A
14    S_1   C_3  1305      F  street_5     187      69  61.7      B-
5     S_1   C_2  1201      M  street_5     188      68  97.0      A-
20    S_2   C_2  2201      M  street_5     193     100  39.1       B
22    S_2   C_2  2203      M  street_4     155      91  73.8      A+
17    S_2   C_1  2103      M  street_4     157      61  52.5      B-
25    S_2   C_3  2301      F  street_4     157      78  72.3      B+
4     S_1   C_1  1105      F  street_4     159      64  84.8      B+
10    S_1   C_3  1301      M  street_4     161      68  31.5      B+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
6     S_1   C_2  1202      F  street_4     176      94  63.5      B-
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-
2     S_1   C_1  1103      M  street_2     186      82  87.2      B+
1     S_1   C_1  1102      F  street_2     192      73  32.5      B+
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
13    S_1   C_3  1304      M  street_2     195      70  85.2       A
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-

In [126]:
df.sort_values(by=['Math','Height'], ascending=[False, True])

   School Class    ID Gender   Address  Height  Weight  Math Physics
5     S_1   C_2  1201      M  street_5     188      68  97.0      A-
28    S_2   C_3  2304      F  street_6     164      81  95.5      A-
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
2     S_1   C_1  1103      M  street_2     186      82  87.2      B+
24    S_2   C_2  2205      F  street_7     183      76  85.4       B
13    S_1   C_3  1304      M  street_2     195      70  85.2       A
4     S_1   C_1  1105      F  street_4     159      64  84.8      B+
15    S_2   C_1  2101      M  street_7     174      84  83.3       C
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-
22    S_2   C_2  2203      M  street_4     155      91  73.8      A+
25    S_2   C_3  2301      F  street_4     157      78  72.3      B+
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
21    S_2   C_2  2202      F  street_7     194      77  68.5      B+
9     S_1   C_2  1205      F  street_6     167      63  68.4      B-
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
27    S_2   C_3  2303      F  street_7     190      99  65.9       C
6     S_1   C_2  1202      F  street_4     176      94  63.5      B-
14    S_1   C_3  1305      F  street_5     187      69  61.7      B-
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
7     S_1   C_2  1203      M  street_6     160      53  58.8      A+
17    S_2   C_1  2103      M  street_4     157      61  52.5      B-
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
12    S_1   C_3  1303      M  street_7     188      82  49.7       B
29    S_2   C_3  2305      M  street_4     187      73  48.9       B
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
34    S_2   C_4  2405      F  street_6     193      54  47.6       B
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
20    S_2   C_2  2201      M  street_5     193     100  39.1       B
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
8     S_1   C_2  1204      F  street_5     162      63  33.8       B
26    S_2   C_3  2302      M  street_5     171      88  32.7       A
1     S_1   C_1  1102      F  street_2     192      73  32.5      B+
10    S_1   C_3  1301      M  street_4     161      68  31.5      B+