In [ ]:
# Some configuations
# This cell defines a magic command to ensure that the script doesn't stop due
# to any error arising in that cell.
from IPython.core.magic import register_cell_magic
@register_cell_magic('handle')
def handle(line, cell):
    try:
#         exec(cell)  # doesn't return the cell output though
        return eval(cell)
    except Exception as exc:
        print(f"\033[1;31m{exc.__class__.__name__} : \033[1;31;47m{exc}\033[0m")
        # raise # if you want the full trace-back in the notebook

# Overall Picture 
```
Programs                           
 └──Modules                                                     
     └──Statements                                
         └──Expressions
```

# Expressions and Evaluation

Expressions create and process objects. In an informal sense, 
>"we do **things** with **stuffs**"

In [ ]:
2 + 2

* **Things** take the form of **operations** such as addition and concatenation.
* **Stuffs** refer to the **objects** on which we perform those operations.
* Expressions get evaluated and produce a value (object).

> everything is an **object** in a Python script.

Objects are essentially just pieces of memory, with values and sets of associated oper- ations.

# Object Types

Here we go over some of the Python's core data types. Although this is not complete because everything we process in Python programs is a kind of object, they will suffice for our course.
```
Object Types
       ├──Numbers
       ├──String
       ├──Lists
       ├──Tuples
       ├──Dictionaries
       └──Sets
```

## Numbers

* integers
* floating-point numbers
* complex numbers

In [ ]:
365 + 10

In [ ]:
22 + 55

In [ ]:
2 * 4

### Operations involving mixed types

1. Python first converts operands up to the type of the most complicated operand
2. and then performs the math on same-type operands

In [ ]:
200 + 1.3

In [ ]:
5 * (1 + 3) / (6 - 1)

In [159]:
1/3

0.3333333333333333

In [160]:
1 + 3j

(1+3j)

In [ ]:
type(1 + 3j)

### More operations
<!-- Calculate $x^y$. -->

In [161]:
4**2 # ** are used for exponentiation.

16

In [162]:
pow(2, 5) # 2**5

32

In [163]:
round(3.14153, 3)

3.142

In [164]:
abs(-1.5)

1.5

In [165]:
5 % 2 # modulo operation

1

In [166]:
9 % 5 # modulo operation

4

In [167]:
5 // 2 # floor division which truncates the result down to its floor, 
       # which means the closest whole number below the true result.

2

In [168]:
5//-2 # why?

-3

In [171]:
5 <= 2 # <, >, <=, >=

False

In [172]:
5 == 5 # ==, !=

True

In [173]:
5 == 5.0

True

In [174]:
5 != 5 # ==, !=

False

In [176]:
5 > 4 > 3

True

In [177]:
5 > 4 and 4 > 3 # and, or

True

In [178]:
5 == 6 or 5 < 6

True

In [179]:
5 <= 6

True

**More from the `math` modules.** 

**modules** are packages of additional tools that we import to use.

In [180]:
%%handle
math.pi

3.141592653589793

In [181]:
import math

In [182]:
math.pi

3.141592653589793

In [183]:
math.exp(2.8)

16.444646771097048

In [184]:
math.sqrt(2)

1.4142135623730951

In [186]:
math.ceil(3.4)

4

### Booleans

Boolean type, **bool**, is numeric in nature because its two values, `True` and `False`, are just customized versions of the integers 1 and 0 that print themselves differently.

In [187]:
type(True)

bool

In [188]:
True == 1

True

In [190]:
True + 5.0

6.0

In [191]:
True + False

1

In [195]:
True == 1.0

True

## Strings

* Strings are used to record textual information.
* Strings are sequences of one-character strings.
* They are our first example of what in Python we call a **sequence**—a positionally ordered collection of other objects. 
* Their items are stored and fetched by their relative positions

In [196]:
"Hello"

'Hello'

In [197]:
'world'

'world'

In [198]:
S = 'Python'
S

'Python'

- The above is an assignment statement that assigns string 'Python' to variable named 'S'.
- We will talk more about statement later.
- The equals sign is doing something (assignment) rather than describing something (equality). 
  - The right hand side of `=` is an expression that gets evaluated first.
  - Only later does the assignment happen.
  - If the left hand side of the assignment is a variable name that already exist, it is overwritten.
  - If it doesn’t already exist, it is created.

### Sequence Operation
#### Indexing

In [199]:
len(S) # length of S

6

In [200]:
S[0] # String indexing in Python is zero-based

'P'

In [201]:
S[-6]

'P'

In [ ]:
S[2]

Negative indices count backwards from the end of the list

In [202]:
S[-1] # The last item from S

'n'

In [203]:
S[-2]# The second last item from S

'o'

<img src="figures/python-string.png"
     align="left"
     width = 500/>

To fetch multiple items, the general form is `S[i:j]`.
- It will give us items from the (`i+1`)th position up to but **not** including the (`j+1`)th position;
- So, from (`i+1`)th to `j`.

In [204]:
S[2:5] # give us from 3th to 5th

'tho'

In [205]:
S[1:] # from 2nd to the last

'ython'

In [206]:
S[:4] # same as S[0:4], from the beginning up to 4th

'Pyth'

In [207]:
S[0:4]

'Pyth'

In [208]:
S[:-1] # Everything but the last

'Pytho'

In [209]:
S[-2:] # from the second last to the last

'on'

In [211]:
S[::]

'Python'

In [212]:
S[::2] # from the beginning to the end with step of 2

'Pto'

In [213]:
S[::-3] # from the end to the beginning with step of 3

'nt'

The general form is
```python
S[begin:end:step]
```

In [214]:
S[5:1:-2]

'nh'

In [215]:
S[1:5:-2]

''

#### Concatenation

In [216]:
'Hello' + 'world'

'Helloworld'

In [217]:
S + 'xyz'

'Pythonxyz'

#### repetition

In [218]:
'Hello' + 'Hello' + 'Hello' + 'Hello'

'HelloHelloHelloHello'

In [219]:
'Hello' * 4

'HelloHelloHelloHello'

- Notice the `+` and `*` mean different things for different objects.
- This is called *polymorphism*, which is the meaning that **an operation depends on the objects being operated upon**. 
- Those string operations (indexing, concatenation and repetition) we have seen so far is really **sequence operation**.
- They also work on other sequences in Python as well, including **lists** and **tuples**.

### string type specific operations

In [221]:
S.find("y") # find index of y

1

In [222]:
S.replace('th', 'ht')

'Pyhton'

In [223]:
S

'Python'

- Notice the original string S was not changed.
- The `.replace` operation just create new string as result.
- This is because a string is immutable, which we will talk about later.

In [224]:
line = 'aaa,bbb,sss'
line.split(",") # Split on a delimiter into a list of substrings

['aaa', 'bbb', 'sss']

In [225]:
S.upper() # Upper- and lowercase conversions

'PYTHON'

In [226]:
S

'Python'

In [227]:
line = 'aaa,bbb,ccccc,dd\t\n end'
print(line)

aaa,bbb,ccccc,dd
 end

In [232]:
print('aaa,bbb,ccccc,dd\n\t \t h\t        ')

aaa,bbb,ccccc,dd
	 	 h

In [235]:
line = 'aaa,bbb,ccccc,dd\n\t \t h\t          '
print(line.rstrip()) # Remove whitespace characters on the right side

aaa,bbb,ccccc,dd
	 	 h

In [236]:
line.rstrip() == line

False

- There are many more yet to be covered.
- Use `dir(S)` to see all the attributes and functions for object type associated with variable S (string) here.

In [237]:
dir(S)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [238]:
help(S.zfill)

Help on built-in function zfill:

zfill(width, /) method of builtins.str instance
    Pad a numeric string with zeros on the left, to fill a field of the given width.

    The string is never truncated.

In [239]:
S.zfill(8)

'00Python'

## Lists
- The Python list object is the most general **sequence** provided by the language.
- Lists are positionally ordered collections of **arbitrarily** typed objects, and they have no fixed size.

In [240]:
L = [1, 2, 'Python', 2.22, 3.14]
L

[1, 2, 'Python', 2.22, 3.14]

### Sequence Operations

- Because they are sequences, lists support all the sequence operations we discussed for strings; 
- the only difference is that the results are usually lists instead of strings

In [241]:
len(L)

5

In [244]:
L[1]

2

In [245]:
L[1:2]

[2]

In [243]:
L[2:4]

['Python', 2.22]

In [246]:
L[::2]

[1, 'Python', 3.14]

In [247]:
L[::-2]

[3.14, 'Python', 1]

### List Type-Specific Operations

#### Append

`append` method expands the list’s size and inserts an item at the end.

In [248]:
L

[1, 2, 'Python', 2.22, 3.14]

In [249]:
L.append(8)
L

[1, 2, 'Python', 2.22, 3.14, 8]

#### Pop

`pop` method removes an item at a given index and return the value that is removed.

In [250]:
L.pop(-1)

8

In [251]:
L

[1, 2, 'Python', 2.22, 3.14]

#### Insert

`insert` method insert an item at any given position

In [252]:
L.insert(2, 'hello')
L

[1, 2, 'hello', 'Python', 2.22, 3.14]

#### Remove

`remove` method removes a value in a list.

In [253]:
L.remove('hello')
L

[1, 2, 'Python', 2.22, 3.14]

#### Sort

`sort` method sort a list.

In [ ]:
help(L.sort)

In [254]:
L_number = [1, 7, 5, 6, 2, 3]
L_number.sort()
L_number

[1, 2, 3, 5, 6, 7]

In [255]:
L_number.sort(reverse=True)
L_number

[7, 6, 5, 3, 2, 1]

#### Nesting

You can nest a list in another list

In [256]:
M = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

#### List Comprehension

List comprehension is useful if you want to create a new list based on an existing list

`newlist = [expression for item (can be anything) in iterable (existing list name) if condition == True]`

In [257]:
L_number

[7, 6, 5, 3, 2, 1]

In [258]:
new_L_number = [2 * item for item in L_number if item > 3] # get all the items in L_number that are greater than 3
new_L_number

[14, 12, 10]

In [260]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [262]:
second_item = [i[1] for i in M] # get the second item from each nested list from M and create a new list
second_item

[2, 5, 8]

#### range

`range(start, stop, step)` is a Python built-in that generate successive integers, and requires a surrounding list to display all its values

In [263]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [264]:
range(10)

range(0, 10)

In [265]:
list(range(10)) # default is start from 0, to 10 (not including) - [start, stop) half open

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [266]:
list(range(-10, 10, 2)) # from 1 to 10 (not including) with step of 2

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [267]:
[[item+1, item+2] for item in range(-10, 10, 2) if item > 0]

[[3, 4], [5, 6], [7, 8], [9, 10]]

## Tuples
- The tuple object is roughly like a list that cannot be changed.
- Tuples are sequences, like lists, but they are immutable, like strings.

In [268]:
T = (1, 2, 3, 4)
T

(1, 2, 3, 4)

In [269]:
T + (2, 3)

(1, 2, 3, 4, 2, 3)

In [270]:
T * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [271]:
len(T)

4

In [272]:
T[1]

2

In [273]:
T[1:2]

(2,)

In [274]:
T[1:3]

(2, 3)

In [275]:
%%handle
T[0] = 9

SyntaxError : invalid syntax (<string>, line 1)

In [276]:
%%handle
T.append(3)

AttributeError : 'tuple' object has no attribute 'append'

In [ ]:
dir(T)

In [317]:
T = (2, 3)
type(T)

tuple

In [318]:
2, 3

(2, 3)

## Dictionaries

* Dictionaries are also collections of other objects, but they store **key:value** pairs. 
* Dictionaries are not sequences because they have no fixed ordering. 
* Dictionaries are coded in curly braces and consist of a series of “key: value” pairs.
* The name comes from the idea that in a real dictionary (book), a word (the key) allows you to find its definition (the value).
* Dictionaries are useful anytime we need to associate a set of values with keys—to describe the properties of something

### Creating a dictionary

In [277]:
D1 = {'color': 'pink', 'food': 'Spam', 'quantity': 4} 
D1

{'color': 'pink', 'food': 'Spam', 'quantity': 4}

In [278]:
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'} 
# key and pairs can be any type, but the keys have to be unique.
D

{'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [279]:
D == D1

True

To fetch the values, instead of using the index, we need to use keys.

In [280]:
D['food']

'Spam'

In [281]:
%%handle
D[1]

KeyError : 1

### Creating a dictionary by starting with an empty Dictionary

In [282]:
D = {} # creating an empty dictionary
D

{}

In [283]:
D = dict() # another way of creating an empty dictionary
D

{}

In [284]:
D['name'] = 'Tom'
D['job'] = 'engineer'
D['age'] = 40
D

{'name': 'Tom', 'job': 'engineer', 'age': 40}

In [285]:
D['gender'] = "Male"
D

{'name': 'Tom', 'job': 'engineer', 'age': 40, 'gender': 'Male'}

In [ ]:
dir(D)

In [286]:
help(D.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [287]:
D.pop('gender')

'Male'

In [288]:
D

{'name': 'Tom', 'job': 'engineer', 'age': 40}

In [289]:
D[0] = 9
D

{'name': 'Tom', 'job': 'engineer', 'age': 40, 0: 9}

### Nesting in dictionary

In [290]:
Player1 = {'name': {'first': 'Lebron', 'last': 'James'},
'teams': ['Cavaliers', 'Heats', 'Lakers'],
'age': 37}
Player1

{'name': {'first': 'Lebron', 'last': 'James'},
 'teams': ['Cavaliers', 'Heats', 'Lakers'],
 'age': 37}

In [291]:
Player1['teams']

['Cavaliers', 'Heats', 'Lakers']

In [292]:
Player1['teams'][0]

'Cavaliers'

In [293]:
Player1['name']

{'first': 'Lebron', 'last': 'James'}

In [294]:
Player1['name']['first']

'Lebron'

### Test if a given key is in a dictionary

In [295]:
D = {'a':1, 'b':2, 'c':3}

In [296]:
%%handle
D['f']

KeyError : 'f'

In [297]:
'a' in D

True

In [298]:
'f' in D

False

In [299]:
D.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [300]:
l = list(D.items()) # get all the key-value pairs as tuples
l

[('a', 1), ('b', 2), ('c', 3)]

In [301]:
l[0] = 1
l

[1, ('b', 2), ('c', 3)]

In [302]:
D.keys()

dict_keys(['a', 'b', 'c'])

In [303]:
list(D.keys())

['a', 'b', 'c']

In [304]:
list(D.values())

[1, 2, 3]

In [305]:
for key, value in D.items():
    print('Values corresponding to key', key, "is", value)

Values corresponding to key a is 1
Values corresponding to key b is 2
Values corresponding to key c is 3

## Sets

* Sets correspond to our notion of sets in math. They are collections of objects **without** duplicates.
* As with dictionaries, set is also nonsequential collections.

### Creating a set

In [306]:
S = {2, 3, 1, 4, 2, 1}
S

{1, 2, 3, 4}

### Creating a set by starting with an empty set

In [307]:
S = {}
type(S)

dict

In [309]:
S = set()
S

set()

In [310]:
S.add(2)
S.add(3)
S.add(1)
S.add(4)
S

{1, 2, 3, 4}

In [312]:
S.add(1)
S

{1, 2, 3, 4}

In [313]:
S.update({5, 6})
S

{1, 2, 3, 4, 5, 6}

In [314]:
{5, 6}

{5, 6}

In [320]:
S.remove(6)
S

KeyError: 6

### Set operation

In [321]:
S1 = {2, 3, 1, 4, 2, 1}
S2 = {2, 5, 6}

In [325]:
S1

{1, 2, 3, 4}

In [322]:
S1 & S2 # intersection

{2}

In [323]:
S1 | S2 # union

{1, 2, 3, 4, 5, 6}

In [324]:
S1 - S2 # difference

{1, 3, 4}

In [326]:
S1 > S2 # superset?

False

In [327]:
S3 = {1, 2}
S1 > S3

True

### Why sets?

#### Filtering out duplicates out of other collections.

In [328]:
L = [1, 2, 1, 3, 2, 4, 5]
L

[1, 2, 1, 3, 2, 4, 5]

In [329]:
L = list(set(L))
L

[1, 2, 3, 4, 5]

#### Isolate differences in lists, strings, and other iterable objects

In [330]:
set([1, 3, 5, 7]) - set([1, 2, 4, 5, 6])

{3, 7}

#### Real examples

In [331]:
engineers = {'Bob', 'Sue', 'Ann', 'Vic'}
managers = {'Tom', 'Sue'}

In [332]:
'Bob' in engineers # Is bob an engineer?

True

In [333]:
engineers & managers # Both engineers and managers

{'Sue'}

How to find engineers who are not managers?

In [334]:
engineers - managers

{'Ann', 'Bob', 'Vic'}

## Mutable and Immutable

Before giving the difinition, let's first do some experiments

In [335]:
S = 'Python' # string
S

'Python'

In [336]:
%%handle
S[2] = "h"

SyntaxError : invalid syntax (<string>, line 1)

In [337]:
S = S + 'hello'

In [338]:
S

'Pythonhello'

In [339]:
L = [1, 2, 3, 4] # list
L[2] = 5
L

[1, 2, 5, 4]

In [340]:
L.append(5)
L

[1, 2, 5, 4, 5]

In [341]:
T = (1, 2, 3, 4) # Tuple
T + (6, 7)
T

(1, 2, 3, 4)

In [342]:
%%handle
T[2] = 5

SyntaxError : invalid syntax (<string>, line 1)

In [343]:
D = {'a': 1, 'b':2, 'c':3} # dictionary
D['d'] = 4
D['a'] = 3
D

{'a': 3, 'b': 2, 'c': 3, 'd': 4}

In [344]:
S1 = {1, 2, 3, 4}
S1.add(5)
S1

{1, 2, 3, 4, 5}

As we see from the above examples, The value of an object may or may not be changed. 

If the value can be changed, we say that the object is **mutable**.

If it cannot be changed, we say that the object is **immutable**.

* **mutable**: lists, dictionaries, sets
* **immutable**: numbers, strings, tuples

For immutable objects, all the operation produce a new object as its results, but the original objects are never changed

In [ ]:
S = 'xyz'
S + 'abc'
S

Immutable objects can not be changed in place after they are created, but you can always build a new one and assign it to the same name.

In [ ]:
S = 'xyzabc'
S

## Summary

| Non-Collection | Collection  |
|----------------|-------------|
| Numbers        | Strings     |
|                | Lists       |
|                | Tuples      |
|                | Dictionaries|
|                | Sets        |

|Unordered       | Ordered   |
|----------------|-------------|
| Dictionaries   | Strings     |
|  Sets          | Lists       |
|                | Tuples      |

| Immutable      | Mutable   |
|----------------|-------------|
| Numbers        | Lists       |
| Strings        | Dictionaries|
| Tuples         | Sets        |