![panda](figures/panda.png)

 > **Pandas** is an open source Python library for data analysis.
- It gives Python the ability to work with numerical tables and time series for fast data loading, manipulating, aligning, merging, etc.
- The name is derived from 'panel data', an econometrics term for multidimensional structured datasets.

In [1]:
import pandas as pd
import numpy as np

# Series and DataFrame

Pandas introduces two new data types to Python: **Series** and **DataFrame**

## Series

> A Series is a one-dimensional array-like object containing a sequence of values and an associated array of data labels, called its **index**

In [ ]:
s = pd.Series([4, 7, -5, 3])
s

In [ ]:
s_test = pd.Series([4, 7, -5, 3, 'string'])
2 * s_test

- The string representation of a Series displayed interactively shows the index on the
left and the values on the right.
- Since we did not specify an index for the data, a
default one consisting of the integers 0 through n-1 (where n is the length of the data)

In [ ]:
s = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])
s

In [ ]:
s.values

In [ ]:
s.index

### Selecting single or a set of values using index

In [ ]:
s['b']

In [ ]:
s[['c', 'a', 'b']]

In [ ]:
s.iloc[2]

In [ ]:
s[1:3]

In [ ]:
s.iloc[[1,3]]

### Filtering

In [ ]:
s

In [ ]:
s > 0

In [ ]:
s[s > 0]

### Math operation

In [ ]:
s**2

In [ ]:
np.exp(s)

In [ ]:
s.mean()

In [ ]:
s.var()

aligns by index label in arithmetic operations

In [ ]:
s

In [ ]:
s2 = pd.Series([1, 2, 3, 4], index = ['a', 'c', 'd', 'e'])
s2

In [ ]:
s + s2

**Note**: "NaN" stands for missing values in pandas

In [ ]:
s.index = ['a', 'c', 'd', 'e']
s

In [ ]:
s + s2

## More method for series

In [ ]:
 dir(s)

In [ ]:
[attr for attr in dir(s) if not attr.startswith('_')]

In [ ]:
help(s.all)

## DataFrame

> A DataFrame represents a rectangular table of data and contains an ordered collection
of columns.

* The DataFrame has both a row and column index.
* Since each column of a DataFrame is essentially a Series with its column index, it can be thought of as a dictionary of Series all sharing the same index.
<!-- * Each column (Series) has to be the same type, whereas, each row can contain mixed types. -->

### Creating DataFrame

#### from a dict of equal-length lists

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data

In [ ]:
d = pd.DataFrame(data)
d

#### Start with an empty DataFrame

In [ ]:
d1 = pd.DataFrame()
d1

In [ ]:
d1['state'] = ['Ohio', 'Nevada']
d1

In [ ]:
d1['year'] = [2001, 2001]
d1['pop'] = [1.7, 2.4]
d1

### select columns

In [ ]:
d

In [ ]:
d['state'] # return a Series

In [ ]:
type(d['state'])

In [ ]:
d[['state','pop']]

### select rows

In [ ]:
rows = np.arange(16).reshape((4, 4))
rows

In [ ]:
d2 = pd.DataFrame(rows,
                  index=['Ohio', 'Colorado', 'Utah', 'New York'],
                  columns=['one', 'two', 'three', 'four'])
d2

In [ ]:
d2.loc['Ohio':"Utah"]

In [ ]:
d2.iloc[1:3]

### change row index and column name

In [ ]:
d2

In [ ]:
d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'})

In [ ]:
d2 # notice d2 is still the same

In [ ]:
d3 = d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'}) # or assign to a new variable
d3

In [71]:
# set the inplace=True will change original DataFrame.
d2.rename(index={'Colorado':'Connecticut'},columns={'one':'five'}, inplace=True)

In [ ]:
d2

### basics attributes and methods

In [ ]:
d2.index

In [ ]:
d2.columns

In [ ]:
d2.values

In [ ]:
d2.shape

In [ ]:
d2.mean() # column-wise mean, More on aggregation later.

### Alignment by index

In [ ]:
df3 = pd.DataFrame({'A':[1,2,3]},index=[1,2,3])
df3

In [ ]:
df4 = pd.DataFrame({'A':[1,2,3]},index=[3,1,2])
df4

In [ ]:

df3-df4

### add and delete rows and columns

In [ ]:
d2

In [ ]:
d2.drop(index = "Connecticut", columns="five")
# add "inplace=True" will change the original DataFrame

In [ ]:
d2

In [ ]:
del d2['five'] # this will change d2 directly
d2

In [ ]:
d2['one'] = [1, 2, 3, 4] # add new column
d2

In [ ]:
d2.pop('one') # directly change the original DataFrame

In [ ]:
d2

### Common method

You can import dataset as well

#### csv file

In [88]:
df = pd.read_csv("./data/table.csv")

In [ ]:
df

#### txt file

In [ ]:
df_txt = pd.read_table("data/table.txt")
df_txt

In [ ]:
help(pd.read_table)

#### xlsx file

In [ ]:
conda install openpyxl

In [ ]:
df_excel = pd.read_excel('data/table.xlsx', sheet_name="Sheet1")
df_excel

#### Head and Tail

These two methods show the first and the last a few records from a DataFrame, default is 5

In [ ]:
df.head()

In [ ]:
df.iloc[:6]

In [ ]:
df.tail()

In [ ]:
df.head(3)

### unique and nunique

In [ ]:
df['Physics']

In [ ]:
df['Physics'].unique() # Shows only unique values

In [ ]:
df['Physics'].nunique() # len(df['Physics'].unique())

### count and value_counts

In [ ]:
df['School']

In [ ]:
df['School'].count() # Count of non missing values

In [ ]:
df['School'].value_counts()

In [ ]:
df['Physics'].value_counts()

### describe and and info

In [ ]:
df.info() # How many missing for each column and type of each column

In [ ]:
df.describe() # summary statistics for numeric type columns

In [ ]:
df.describe(percentiles=[x/10 for x in list(range(1, 10, 1))])

In [ ]:
df['Physics'].describe()

### idxmax and nlargest

In [ ]:
df['Math']

In [ ]:
df['Math'].max() # return the largest value

In [ ]:
df['Math'].idxmax() # return the index of the largest value

In [ ]:
df['Math'].idxmin() # return the index of the smallest value

In [ ]:
df['Math'].nlargest(3) # return the largest 3 values with their index (default is 5).

In [ ]:
df['Math'].nlargest()

In [ ]:
df['Math'].nsmallest(3) # return the smallest 3 values with their index (default is 5).

### apply

In [ ]:
df[["Height", "Weight"]]

In [ ]:
df[["Height", "Weight"]].apply(lambda x: x.max() + x.min())

In [ ]:
df[["Height", "Weight"]].apply(lambda x: x.mean())

In [ ]:
df[["Height", "Weight"]].mean()

In [ ]:
df.apply(lambda x:x.count(), axis=0) # 0 is column-wise and 1 is row-wise

In [ ]:
df.apply(lambda x:x.count(), axis=1) # 0 is column-wise and 1 is row-wise

### sort

In [ ]:
df

In [ ]:
df.sort_values(by='Class')

In [ ]:
df.sort_values(by=['Address','Height'], ascending=True)

In [ ]:
df.sort_values(by=['Address','Height'], ascending=[False, True])

In [ ]:
df.sort_values(by=['Math','Height'], ascending=[False, True])